{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h3 class="homepage-title">{{ 'homepage.title'|trans }}</h3>
        <h3 class="homepage-subtitle">{{ 'homepage.subtitle'|trans }}</h3>
        <p>
        <form method="GET" action="{{ path('search_page') }}" id="search-offer-homepage">
            <div class="homepage-search-bar search-bar">
                <div class="general-search">
                    <div class="checkbox-home-container">
                        <div style="display: flex;">
                            <div class="div-sell-input checkbox-div"><input id="sell-checkbox" class="checkbox-input-search" type="checkbox" value="1" {% if sell %}checked{% endif %} name="sell">{{ 'sell'|trans }}</div>
                            <div class="div-rent-input checkbox-div"><input id="rent-checkbox" class="checkbox-input-search" type="checkbox" value="1" {% if rent %}checked{% endif %} name="rent">{{ 'rent'|trans }}</div>
                        </div>
                    </div>

                    <div class="select-home-container">
                        <select title="Category" id="tags-input" name="type"  class="selectpicker homepage-tag type-select" >
                            <option value="" selected>{{ 'offer.type'|trans }}</option>
                            {% for type in types %}
                                <option value="{{ type }}" {% if type == givenType %}selected{% endif %}>{{ type|trans }}</option>
                            {% endfor %}
                        </select>
                        <select title="Category" id="tags-input" name="city"  class="selectpicker homepage-tag city-select">
                            <option value="" selected>{{ 'offer.city'|trans }}</option>
                            {% for city in cities %}
                                <option value="{{ city }}" {% if city == givenCity %}selected{% endif %}>{{ city }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="altea-button button-advanced-search {% if (from is defined and from != '') or (to is defined and to != '') or (fromRoom is defined and fromRoom != '') or (toRoom is defined and toRoom != '') or (fromSurface is defined and fromSurface != '') or (toSurface is defined and toSurface != '') %}extended{% endif %}"><i class="fas fa-plus-circle"></i></button>
                    <input type="submit" class="altea-button searchOffer-home" value="{{ 'form.offer.search.search' | trans }}">
                </div>
                <div class="advanced-search {% if (from is defined and from != '') or (to is defined and to != '') or (fromRoom is defined and fromRoom != '') or (toRoom is defined and toRoom != '') or (fromSurface is defined and fromSurface != '') or (toSurface is defined and toSurface != '') %}expended{% endif %}">
                    <div style="display: flex; margin: 10px; justify-content: center;">
                        <div class="div-price-input"><div class="from-to">{{ 'offer.from'|trans }} </div><input class="form-control input-price-home" value="{{ from }}" name="from" type="text" title="{{ 'form.offer.search.keyword' | trans }}"></div>
                        <div class="div-price-input"><div class="from-to"> {{ 'offer.to'|trans }} </div><input class="form-control input-price-home" value="{{ to }}" name="to" type="text" title="{{ 'form.offer.search.keyword' | trans }}"><div class="from-to"> €</div></div>
                    </div>
                    <div style="display: flex; margin: 10px; justify-content: center;">
                        <div class="div-min-room-input"><div class="from-to">{{ 'offer.from'|trans }} </div><input style="width: 45px;" class="form-control input-price-home" value="{{ fromRoom }}" name="fromRoom" type="text" title="{{ 'form.offer.search.keyword' | trans }}"></div>
                        <div class="div-other-input"><div class="from-to"> {{ 'offer.to'|trans }} </div><input style="width: 45px;" class="form-control input-price-home" value="{{ toRoom }}" name="toRoom" type="text" title="{{ 'form.offer.search.keyword' | trans }}"><div class="from-to"> {{ 'offer.rooms'|trans }}</div></div>
                    </div>
                    <div style="display: flex; margin: 10px; margin-left: 40px; justify-content: center;">
                        <div class="div-other-input"><div class="from-to">{{ 'offer.from'|trans }} </div><input class="form-control input-price-home" value="{{ fromSurface }}" name="fromSurface" type="text" title="{{ 'form.offer.search.keyword' | trans }}"></div>
                        <div class="div-other-input"><div class="from-to"> {{ 'offer.to'|trans }} </div><input class="form-control input-price-home" value="{{ toSurface }}" name="toSurface" type="text" title="{{ 'form.offer.search.keyword' | trans }}"><div class="from-to"> m2</div></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container-search">

            <ul id="myUL">
                {% if data is not defined or data|length == 0%}
                    <li class="no-offer search-result animated fadeIn">
                        <div>{{ 'offer.noOffer'|trans }}</div>

                    </li>
                {% else %}
                    <span hidden id="hidden-search-info" data-page="{{ page }}" data-total="{{ total }}"></span>
                    <div class="row display-number">
                        <div class="col-md-6">
                            {{ numberOfItem }} / {{ countResult }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8  composition-list">
                            {% for key, offer in data %}
                                <li class="search-result col-md-4">
                                    <span onmouseenter="myClick({{ key }});" class='offer-element' data-href="{{ path('show_offer', {'id':offer.id, 'url':offer.offerUrl}) }}">
                                        {% if (offer.images.first != false and offer.images.first.imageName is not null and offer.images|length > 1) %}

                                            <div id="myCarousel-{{ offer.id }}" class="background-pro-in-offer-search carousel slide" data-ride="carousel">
                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                {% set i = 0 %}
                                                {% for image in offer.images %}
                                                    <li data-target="#myCarousel-{{ offer.id }}" data-slide-to="{{ i }}" class="dot-of-carousel {% if i == 0 %}active{% endif %}"></li>
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </ol>

                                                <!-- Wrapper for slides -->
                                            <div class="carousel-inner">
                                                {% set i = 0 %}
                                                {% for image in offer.images %}
                                                    <div class="item {% if i == 0 %}active{% endif %}">
                                                        <img class="image-search-pro" src="{{ asset('uploads' ~ vich_uploader_asset(image, 'imageFile', 'AppBundle\\Entity\\Image')) }}">
                                                    </div>
                                                    {% set i = i + 1 %}
                                                {% endfor %}
                                            </div>

                                                <!-- Left and right controls -->
                                            <a class="left carousel-control" href="#myCarousel-{{ offer.id }}" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel-{{ offer.id }}" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        {% else %}
                                            {% if offer.images.first != false and offer.images.first.imageName is not null %}
                                                {% set image =  'uploads' ~ vich_uploader_asset(offer.images.first, 'imageFile', 'AppBundle\\Entity\\Image') %}
                                            {% else %}
                                                {% set image = 'images/default_cover_image6.jpg' %}
                                            {% endif %}
                                            <div class="background-pro-in-offer-search" style="background-position: center center;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});">
                                            </div>
                                        {% endif %}
                                        <div class="offer-search-element">
                                            <div class="offer-element-details">
                                                <div class="offer-element-title">{% if offer.sousType in ['GARAGE', 'EMPLACEMENT DE PARKING', 'PARKING'] %}{{ offer.sousType|trans }}{% else %}{{ offer.type|trans }}{% endif %} {% if offer.old == 0 %}{{ 'offer.new'|trans }}{% endif %} {% if offer.nbrBedroom > 0 %}{{ offer.nbrBedroom }} {{ 'offer.rooms'|trans }}{% endif %} {{ 'at'|trans }} {{ offer.city }}</div>
                                                <div class="offer-element-title">{{ offer.price }} €</div>
                                                <div class="offer-element-description">{% if app.request.locale == 'fr' or offer.descriptionEn == '' %}{{ offer.description|raw }}{% else %}{{ offer.descriptionEn|raw }}{% endif %}</div>
                                                <button class="btn btn-primary btn-show-offer">{{ 'offer.show'|trans }}</button>
                                            </div>
                                        </div>
                                    </span>
                                </li>
                            {% endfor %}
                            <div id="paginator-offer">
                                {% if total > 0 %}
                                    {% for i in 1..total %}
                                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'row': i})) }}" class="offer-page-link {% if page == i %}selected-page{% endif %}">{{ i }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="search-map col-md-4 animated fadeIn">
                            <div class="shadow-box">
                                <div id="map"></div>
                            </div>
                            
                            <div class="shadow-box" id="advert-container" style="cursor:pointer">
                                <img class="altea-ad" src="{{asset('images/estimimmo_banner.png')}}">
                                <div style="margin-top: 10px; margin-bottom: -10px;">
                                    <div>{{ 'advertismentText'|trans }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var markers = [];

                        {% if location|length > 0 %}

                        // Initialize and add the map
                        function initMap() {
                            // The location of Uluru
                            var location = {lat: {{ location|first[0] }}, lng: {{ location|first[1] }}};
                            // The map, centered at Uluru
                            var map = new google.maps.Map(
                                document.getElementById('map'), {zoom: 17, center: location, mapTypeControl: false, fullscreenControl: false});
                            // The marker, positioned at Uluru

                            var bounds = new google.maps.LatLngBounds();
                            var infoWindow = new google.maps.InfoWindow();
                            {% for position in location %}
                                {% if position[5] is defined %}
                                    var marker = new google.maps.Marker({position: {lat: {{ position[0] }}, lng: {{ position[1] }}}, map: map});
                                    google.maps.event.addListener(marker, 'click', (function(marker) {
                                        return function() {
                                            {% if position[5] != 'image' %}
                                                {% set image =  'uploads' ~ vich_uploader_asset(position[5], 'imageFile', 'AppBundle\\Entity\\Image') %}
                                            {% else %}
                                                {% set image = 'images/default_cover_image6.jpg' %}
                                            {% endif %}

                                            var content = '<a target="_blank" href="'+ "{{ position[4] }}" +'"><div><img class="pro-image-map" src="{{ asset(image) }}"></div><div class="pro-title-map">' + "{{ position[3] }}" + '</div></a>';
                                            infoWindow.setContent(content);
                                            infoWindow.open(map, marker);
                                        }
                                    })(marker));
                                    markers.push(marker);
                                    bounds.extend({lat: {{ position[0] }}, lng: {{ position[1] }}});
                                {% endif %}
                            {% endfor %}
                            {% if location|length > 1 %}
                                map.fitBounds(bounds);
                            {% endif %}
                        }

                        function myClick(id){
                            google.maps.event.trigger(markers[id], 'click');
                        }

                        {% endif %}

                    </script>
                    <!--Load the API from the specified URL
                    * The async attribute allows the browser to render the page while the API loads
                    * The key parameter will contain your own API key (which is not needed for this tutorial)
                    * The callback parameter executes the initMap() function
                    -->
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY8KoA6XgncXKSfDq7Ue7R2a1QWFSFxjc&callback=initMap">
                    </script>
                    <style>
                        .pro-title-map{
                            margin-top: 5px;
                            font-size: 15px;
                            margin-bottom: 1px;
                        }
                        .pro-image-map{
                            width: 200px;
                        }
                        #map {
                            height: 500px;  /* The height is 400 pixels */
                            width: 100%;  /* The width is the width of the web page */
                        }
                    </style>
                {% endif %}

                <script>
                    $(".offer-element").on("mouseenter ", function(){
                        $(this).find('.layer-offer-element').removeClass('fadeIn').addClass('fadeOut');
                    });
                    $(".offer-element").on("mouseleave ", function(){
                        $(this).find('.layer-offer-element').removeClass('fadeOut').addClass('fadeIn');
                    });

                    $(document).on("click",".offer-element",function(e) {
                        if(!($(e.target).hasClass('carousel-control') || $(e.target).hasClass('glyphicon') || $(e.target).hasClass('dot-of-carousel'))){
                            window.location.href = $(this).data('href');
                        }
                    });

                    $('.checkbox-div').on('click', function () {
                        let checkbox = $(this).children('input');
                        let checked = checkbox.attr('checked');
                        checkbox.attr('checked', !checked);
                        url = "{{ path('get_search_element') }}";
                        $.ajax({
                            url: url,
                            data: {sell:$('#sell-checkbox').attr('checked'), rent:$('#rent-checkbox').attr('checked')}
                        }).done(function( data ) {
                            var data = JSON.parse(data);
                            var type = "<option value='' disabled selected>{{ 'offer.type'|trans }}</option>";
                            var index;
                            for (index = 0; index < data['types'].length; ++index) {
                                var selectedType = '{{ givenType }}' == data['types'][index][0]?"selected":"";
                                type += "<option "+selectedType+" value='"+data['types'][index][0]+"'>"+data['types'][index][1]+"</option>";
                            }
                            $('.type-select').html(type);
                            var city = "<option value='' disabled selected>{{ 'offer.city'|trans }}</option>";
                            var index;
                            for (index = 0; index < data['cities'].length; ++index) {
                                var selectedCity = '{{ givenCity }}' == data['cities'][index]?"selected":"";
                                city += "<option "+selectedCity+" value='"+data['cities'][index]+"'>"+data['cities'][index]+"</option>";
                            }
                            $('.city-select').html(city);
                        });
                    });

                    function detectmob() {
                        if( navigator.userAgent.match(/Android/i)
                            || navigator.userAgent.match(/webOS/i)
                            || navigator.userAgent.match(/iPhone/i)
                            || navigator.userAgent.match(/iPad/i)
                            || navigator.userAgent.match(/iPod/i)
                            || navigator.userAgent.match(/BlackBerry/i)
                            || navigator.userAgent.match(/Windows Phone/i)
                        ){
                            return true;
                        }
                        else {
                            return false;
                        }
                    }

                    var featuredOfferTop = $('.search-map').offset().top;
                    var featuredOfferLeft = $('.search-map').offset().left;
                    var featuredOfferWidth = $('.search-map').outerWidth();
                    // $(window).scroll(function() {
                    //     var currentScroll = $(window).scrollTop();
                    //     if (currentScroll +105 >= featuredOfferTop && detectmob() == false) {
                    //         $('.search-map').css({
                    //             position: 'fixed',
                    //             top: '105px',
                    //             left: featuredOfferLeft,
                    //             width: featuredOfferWidth,
                    //         });
                    //     } else {
                    //         $('.search-map').css({
                    //             position: 'static'
                    //         });
                    //     }
                    // });

                    window.onload = function() {
                        if(detectmob()){
                            let $el = $('.homepage-jumbotron');
                            let bottom = $el.position().top + $el.outerHeight(true) - 60;
                            $('html, body').animate({
                                scrollTop: bottom
                            }, 500);
                        }
                    };
                </script>

            </ul>

        <style>
            .homepage-jumbotron::after{
                content: '';
                background-image:url({{asset('images/7_web.jpg')}});
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position:absolute;
                z-index: -1;
            }
            .title-compare{
                margin-bottom: 9px;
                color: white;
                padding-top: 0;
                cursor:pointer;
            }
            .compare-offers{
                position: fixed;
                bottom: 20px;
                right: 50px;
                width: 30%;
            }
            .header-compare{
                background: #272f3b;
                padding: 12px;
                border-radius: 5px;
            }
            .list-to-compare{
                height: 500px;
                background-color: white;
                color: black;
                display: none;
            }
            .offer-to-compare{
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: white;
                display: flex;
                align-items: center;
            }
            .hover-offer-comparison{
                background-color: #1F80F0;
            }
            .icon-open-compare{
                float: right;
            }
            .drop-here{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
            }
            .remove-offer{
                position: absolute;
                right: 30px;
            }
            .compare-button-container{
                width: 100%;
                display: none;
                background-color: #272f3b;
                height: 50px;
            }
            .compare-button{
                margin-top: 14px;
            }
            .compare-offer-logo{
                width: 50px;
                height: 50px;
            }
            .compare-offer-title{
                margin-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 38px;
            }
            .modal-dialog{
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) !important;
                text-align:center;
                width: 80%;
            }
            .modal-content{
                display:inline-block;
                background-color: #21282B;
                color: white;
            }
            .table-comparison thead th{
                text-align: center;
            }
            .table-comparison td{
                padding-left: 10px;
                padding-right: 10px;
                border: 1px white;
                margin-bottom: 10px;
            }
            .table-comparison table{
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
                border-collapse: separate;
                border-spacing: 14px 14px;
            }
            .row
        </style>

        <script>

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
                if (($(".navbar-bottom").offset().top) <= ($(window).scrollTop() + $(window).height()) ) {
                    if(!$(".compare-offers").hasClass('sticky')){
                        $(".compare-offers").css("bottom", (20+ window.scrollY + window.innerHeight - $(".navbar-bottom").offset().top));
                    }

                }else{
                    $(".compare-offers").css("bottom", "20px");
                }
            }

            $('.button-advanced-search').on('click', function (e) {
                e.preventDefault();
                if($(this).hasClass('extended')){
                    $(this).removeClass('extended');
                    $('.advanced-search').css('display', 'none');
                }else {
                    $(this).addClass('extended');
                    let style = detectmob()?'block':'flex';
                    $('.advanced-search').css('display', style);
                }
            });

            $(document).on("click","#advert-container",function(e) {
                var win = window.open('https://www.estimimmo.lu', '_blank');
                win.focus();
            });
        </script>
    </div>

{% endblock %}