
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block body %}
    {%  if (app.user.roles is defined) and ('ROLE_EMPLOYER' in app.user.roles) %}
        <a href="{{ path('dashboard_employer') }}" class="btn btn-primary return-to-dashboard">{{ 'dashboard.employer.return' | trans }}</a>
    {% endif %}
    <div class="jumbotron homepage-jumbotron">
        <h2>{{ 'media.title' | trans }}</h2>
    </div>
    <div class="container altea-container">
        <div class="row" style="margin-top: 25px;margin-bottom: 25px">
            <div class="media-element" data-href="http://paperjam.lu/news/leconomie-du-partage-une-source-dinspiration">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/Conférence-Economie-du-partage-Luxembourg-300x225.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>L’économie du partage, une source d’inspiration</h3>
                    <div>Longtemps considéré comme une menace, ce modèle d’affaires fait naître des idées chez des PME luxembourgeoises, qui y voient une nouvelle source de croissance. Même l’État proposera en début d’année prochaine sa propre plateforme.

                        On l’a présentée comme un raz-de-marée qui ne laisserait aucune chance aux types de business traditionnels, notamment celui des PME. Aujourd’hui, force est de constater que l’ubérisation de l’économie, connue aussi sous le terme d’«économie du partage», n’a pas eu lieu ... <a href="#">voir plus</a></div>
                </div>
            </div>
            <div class="media-element" data-href="https://immobilier.lefigaro.fr/article/a-londres-la-plus-grande-colocation-du-monde-compte-546-chambres_70b2391e-b3ca-11e7-b618-0efa88aa17ce/">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/lefigaro.png') }}">
                </div>
                <div class="col-md-8">
                    <h3>À Londres, la plus grande colocation du monde compte 546 chambres</h3>
                    <div>Abrité dans un immeuble de 10 étages, ce projet immobilier se veut une réponse à la crise urbaine du logement. À la sauce londonienne cependant: compter plus de 1000 euros par mois la chambre de 12 m².
                        L’immeuble compte dix étages et ressemble à un hôtel. Il abrite à Londres la plus grande colocation du monde, selon son promoteur, offrant petites chambres mais services partagés haut de gamme à de jeunes adultes. Un projet qui se veut une réponse à la crise urbaine du logement. Ouvert au printemps 2016 le long d’une voie de circulation du nord-ouest de la capitale britannique, le bâtiment «Old Oak» est un pionnier de l’habitat partagé à si grande échelle, même si le «co-living» a déjà des adeptes, aux États-Unis notamment ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="http://paperjam.lu/news/colocation-bien-plus-quun-toit">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/Paperjam_Logo.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>Colocation, bien plus qu’un toit</h3>
                    <div>Comme à l’étranger, la colocation est en pleine expansion au Luxembourg. Les prix élevés des loyers, l’incertitude sur la durée du séjour ou tout simplement l’envie de ne pas être seul motivent le choix de ce type d’habitat. Malgré des tarifs pratiqués nettement supérieurs à la moyenne européenne.
                        Si le concept d’auberge espagnole n’a pas pris une ride, il serait illusoire d’en dire autant des locataires. La colocation n’est en effet plus l’apanage des étudiants et séduit d’autres publics, de tous âges. C’est du moins la principale conclusion d’une récente étude du site français Appartager qui a comparé les budgets et profils des colocataires de six pays européens ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="http://www.wortimmo.lu:80/fr/actus/bourse-immobiliere-de-la-cigdl-une-opportunite-pour-les-agents/434/">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/wortimmo-300x172.png') }}">
                </div>
                <div class="col-md-8">
                    <h3>Bourse immobilière de la CIGDL : une opportunité pour les agents</h3>
                    <div>Depuis la fin de l’année 2016, la bourse immobilière de la Chambre immobilière du Grand-Duché de Luxembourg (CIGDL) est un outil précieux pour les agents qui peuvent conjuguer indépendance et travail en réseau. Explications.
                        Fédérant et défendant les métiers de l’immobilier depuis 1971, la Chambre immobilière du Grand-Duché de Luxembourg (CIGDL) a créé à la fin de l’année 2016 une bourse d’échanges de mandats destinée à « faciliter » le travail au quotidien des professionnels ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="https://www.athome.lu/blog/comment-repartir-les-taches-quand-on-vit-en-colocation/?utm_source=atHome.lu+All+users&utm_campaign=e10a1623e5-Newsletter_LU_juin_2017_3&utm_medium=email&utm_term=0_5b97182b3b-e10a1623e5-220667225">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/logo-300x141.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>Comment répartir les tâches quand on vit en colocation</h3>
                    <div>Toute nouvelle, toute belle, vous avez emménagé dans la colocation idéale. Le logement est vaste, ses habitants des plus souriants… Pour conserver une bonne ambiance, une excellente organisation  dans la colocation s’impose. Et elle commence par la répartition des tâches.

                        Les courses, la vaisselle, la poussière, les carreaux, la cuisine… à moins d’embaucher une femme de ménage (faites vos calculs, cela peut être intéressant), les tâches quotidiennes sont l’un des secrets d’une colocation réussie. À moins bien sûr que vous ne soyez des adeptes du capharnaüm ! Une bonne organisation dans la colocation sur ce sujet est nécessaire, basée sur l’égalité de tous devant le ménage. À défaut d’un règlement intérieur digne d’une copropriété, la solution la plus simple consiste à établir un planning qui sera affiché à la vue de tous ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="http://paperjam.lu/news/qui-deviendra-la-woman-business-manager-year">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/Paperjam_Logo.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>Qui deviendra la Woman Business Manager of the Year?</h3>
                    <div>
                        Plus que deux jours pour s’inscrire au concours organisé par la Bil. Le prix de Woman Business Manager of the Year 2017 mettra particulièrement l’accent sur l’innovation.

                        Le prix de Woman Business Manager of the Year est organisé depuis 2006 pour mettre à l’honneur les femmes «qui ont fait bouger l’économie luxembourgeoise», selon la Banque internationale à Luxembourg (Bil), initiatrice du concours ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="http://www.rtl.lu/letzebuerg/996594.html">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/rtl_fb.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>Wunnen: IDEA proposéiert, fir Wee vu Co-Locatioun ze goen</h3>
                    <div>
                        D'Demande ass enorm. Nei Wunnengen feelen. Vill Leit wunnen eleng. Déi 10.000 eidel Wunnengen sollen op de Maart kommen an d'Co-Locatioun soll méi ënnerstëtzt ginn, och gesetzlech ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="https://www.cc.lu/en/success-stories/story/detail/une-chambre-en-ville/">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/cc-logo.png') }}">
                </div>
                <div class="col-md-8">
                    <h3>Une chambre en ville</h3>
                    <div>
                        La société Altea Immobilière, créée en 2007 par Carole Caspari,
                        s’est rapidement spécialisée sur un marché de niche : la location
                        courte durée de chambres et studios meublés. Les équipes d’Altea
                        assurent un service complet, allant de la recherche du bien idéal
                        pour les investisseurs à la remise en état après la location,
                        en passant par l’aménagement intérieur, la recherche de locataires,
                        la maintenance technique … <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="https://www.lesfrontaliers.lu/societe/la-colocation-une-evidence-pour-les-jeunes/">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/logo-1-1.png') }}">
                </div>
                <div class="col-md-8">
                    <h3>La colocation, une évidence pour les jeunes.</h3>
                    <div>
                        Face aux prix délirants de l'immobilier luxembourgeois, la colocation semble être une alternative de plus en plus plébiscitée par les jeunes travailleurs. Rencontre avec une jeune femme qui a fait le choix de la vie en communauté.

                        S’il est bien une chose qu’il est difficile de nier au Grand-Duché, c’est la difficulté qu’ont les jeunes travailleurs à s’installer dans un logement, notamment dans la région de la capitale. Le prix moyen d’une chambre à Luxembourg s’élève à 800 euros selon une étude du site Furnished.lu parue au début de l’année, alors imaginer prendre un appartement seul est impensable. Pour mener cette étude, le site spécialisé dans la location de logements meublés courte durée s’est basé sur son portefeuille de clients en 2015. Autrement dit, les personnes qui louent les biens en colocation proposés par l’agence, soit un échantillon de près de 1000 personnes ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
            <div class="media-element" data-href="https://www.athome.lu/blog/800-euros-pour-une-chambre-en-colocation-a-luxembourg-ville/">
                <div class="col-md-4 picture-container">
                    <img src="{{ asset('images/logo-300x141.jpg') }}">
                </div>
                <div class="col-md-8">
                    <h3>800 euros pour une chambre en colocation à Luxembourg-ville</h3>
                    <div>
                        Selon l’étude, si dans la capitale le loyer moyen est de 800 euros, il suffit de s’éloigner du centre pour voir le loyer descendre à 650 euros en moyenne.
                        En comparaison avec d’autres villes européennes, vivre en colocation à Luxembourg-ville est toutefois moins cher à Paris (844 euros) ou qu’à Londres (1227 euros), mais c’est presque deux fois plus cher qu’à Berlin (440 euros) ou qu’à Madrid (451 euros).
                        En moyenne, les colocataires vivent dans un logement d’une surface de 210 m2, et de 7 chambres, selon furnished.lu ... <a href="#">voir plus</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $('.media-element').on('click', function () {
            window.open($(this).data('href'));
        })
    </script>
    
    <style>
        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/7_web.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
            background-position: center center;
        }
        .location-info{
            text-align: center;
            font-size: 17px;
            margin-top: 25px;
        }
        .picture-container{
            text-align: center;
        }
        .media-element{
            display: block;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .picture-container img{
            max-width: 100%;
        }
        .row {
            display: table;
        }

    </style>

{% endblock %}




