{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.home'|trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h3 class="homepage-title">{{ 'homepage.title'|trans }}</h3>
        <h3 class="homepage-subtitle">{{ 'homepage.subtitle'|trans }}</h3>
        <p>
        <form method="GET" action="{{ path('search_page') }}" id="search-offer-homepage">
            <div class="homepage-search-bar search-bar">
                <div class="checkbox-home-container">
                    <div style="display: flex;">
                        <div class="div-sell-input"><input type="checkbox"  value="1" name="sell">{{ 'sell'|trans }}</div>
                        <div class="div-rent-input"><input type="checkbox"  value="1" name="rent">{{ 'rent'|trans }}</div>
                    </div>
                    <div class="div-rent-input"><input type="checkbox"  value="1" name="new">{{ 'new'|trans }}</div>
                </div>

                <div class="select-home-container">
                    <select title="Category" id="tags-input" name="type"  class="selectpicker homepage-tag" >
                        <option value="" disabled selected>{{ 'offer.type'|trans }}</option>
                        {% for type in types %}
                            <option value="{{ type }}">{{ type|trans }}</option>
                        {% endfor %}
                    </select>
                    <select title="Category" id="tags-input" name="city"  class="selectpicker homepage-tag">
                        <option value="" disabled selected>{{ 'offer.city'|trans }}</option>
                        {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="display: flex; margin-bottom: 10px; justify-content: center;">
                    <div class="div-price-input"><div class="from-to">{{ 'offer.from'|trans }} </div><input class="form-control input-price-home" name="from" type="text" title="{{ 'form.offer.search.keyword' | trans }}"></div>
                    <div class="div-price-input"><div class="from-to"> {{ 'offer.to'|trans }} </div><input class="form-control input-price-home" name="to" type="text" title="{{ 'form.offer.search.keyword' | trans }}"><div class="from-to"> €</div></div>
                </div>
                <input type="submit" class="altea-button searchOffer-home" value="{{ 'form.offer.search.search' | trans }}">
            </div>
        </form>
    </div>

    <div class="container">
        <ul id="myUL">
        {% for offer in offerArray %}
            <li class="search-result col-md-4">
            <span class='offer-element' data-href="#">
                {#{% if (pro.frontImages.first != false and pro.frontImages.first.imageName is not null and pro.frontImages|length > 1) or (pro.residence.frontImages.first != false and pro.residence.frontImages.first.imageName is not null and pro.residence.frontImages|length > 1)%}#}

                {#<div id="myCarousel-{{ pro.id }}" class="background-pro-in-offer-search carousel slide" data-ride="carousel">#}
                {#<!-- Indicators -->#}
                {#<ol class="carousel-indicators">#}
                {#{% set i = 0 %}#}
                {#{% for image in pro.frontImages %}#}
                {#<li data-target="#myCarousel-{{ pro.id }}" data-slide-to="{{ i }}" class="carousel-dot {% if i == 0 %}active{% endif %}"></li>#}
                {#{% set i = i + 1 %}#}
                {#{% endfor %}#}
                {#{% for image in pro.residence.frontImages %}#}
                {#<li data-target="#myCarousel-{{ pro.id }}" data-slide-to="{{ i }}" class="carousel-dot {% if i == 0 %}active{% endif %}"></li>#}
                {#{% set i = i + 1 %}#}
                {#{% endfor %}#}
                {#</ol>#}

                {#<!-- Wrapper for slides -->#}
                {#<div class="carousel-inner">#}
                {#{% set i = 0 %}#}
                {#{% for image in pro.frontImages %}#}
                {#<div class="carousel-item {% if i == 0 %}active{% endif %}">#}
                {#<img class="image-search-pro" src="{{ asset('uploads/images' ~ vich_uploader_asset(image, 'imageFile', 'AI\\GestionBundle\\Entity\\FrontImage')) }}">#}
                {#</div>#}
                {#{% set i = i + 1 %}#}
                {#{% endfor %}#}
                {#{% for image in pro.residence.frontImages %}#}
                {#<div class="carousel-item {% if i == 0 %}active{% endif %}">#}
                {#<img class="image-search-pro" src="{{ asset('uploads/images' ~ vich_uploader_asset(image, 'imageFile', 'AI\\GestionBundle\\Entity\\FrontImage')) }}">#}
                {#</div>#}
                {#{% set i = i + 1 %}#}
                {#{% endfor %}#}
                {#</div>#}

                {#<!-- Left and right controls -->#}
                {#<a class="carousel-control-prev" href="#myCarousel-{{ pro.id }}" data-slide="prev">#}
                {#<span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
                {#<span class="sr-only">Previous</span>#}
                {#</a>#}
                {#<a class="carousel-control-next" href="#myCarousel-{{ pro.id }}" data-slide="next">#}
                {#<span class="carousel-control-next-icon" aria-hidden="true"></span>#}
                {#<span class="sr-only">Next</span>#}
                {#</a>#}
                {#</div>#}
                {#{% else %}#}
                {#{% if pro.frontImages.first != false and pro.frontImages.first.imageName is not null %}#}
                {#{% set image =  'uploads/images' ~ vich_uploader_asset(pro.frontImages.first, 'imageFile', 'AI\\GestionBundle\\Entity\\FrontImage') %}#}
                {#{% else %}#}
                {% set image = 'images/default_cover_image6.jpg' %}
                {#{% endif %}#}
                <div class="background-pro-in-offer-search" style="background-position: center center;background-repeat: no-repeat;background-size: cover;background-image: url({{ asset(image) }});">
                                    </div>
                {#{% endif %}#}
                <div class="offer-search-element">
                    <div class="offer-element-details">
                        <div class="offer-element-title">{{ offer.type|trans }}</div>
                        <div class="offer-element-title">{{ offer.price }} €</div>
                    </div>
                </div>
            </span>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="about-us-container">
        <div class="container altea-container">
            <div class="altea-description fadeIn animated">
                <div style="display: -webkit-inline-box;">
                    <img class="about-us-icon" src="{{asset('images/search.svg')}}"><h3>{{ 'header.about.title'|trans }}</h3>
                </div>
                <p><b>{{ 'homepage.ourMission.1.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.1.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.2.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.2.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.3.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.3.text' |trans}}</p>
            </div>
        </div>
    </div>

    <style>
        .ads-list-hompeage{
            list-style-type: none;
            margin-top: 20px;
        }
        .about-us-icon{
            width: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .altea-description{
            color: white;
            margin-top: 60px;
            margin-bottom: 60px;
            text-align: center;
            max-width: 777px;
            margin-left: auto;
            margin-right: auto;
        }
        .about-us-container{
            background-color: #272f3b;
            margin-top: 40px;
        }
        .homepage-href-row{
            padding: 10px;
            padding-right: 25px;
            font-size:20px;
        }
        .homepage-href-tag{
            text-decoration: none !important;
        }




        @media screen and (max-width: 1130px) {

            .homepage-jumbotron::after{
                background-position: center center !important;
            }

        }

        .homepage-jumbotron{

            background:rgba(0,0,0,0.5) !important;
        }


        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/7_web.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}




