{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'title.home'|trans }}
{% endblock %}

{% block body %}

    <div class="jumbotron homepage-jumbotron">
        <h3 class="homepage-title">{{ 'homepage.title'|trans }}</h3>
        <h3 class="homepage-subtitle">{{ 'homepage.subtitle'|trans }}</h3>
        <p>
        <form method="GET" action="#" id="search-offer-homepage">
            <div class="homepage-search-bar search-bar">

                <div class="div-keyword-input"><input class="form-control" name="keyword" type="text" id="keyword-input" placeholder="{{ 'form.offer.search.keyword' | trans }}" title="{{ 'form.offer.search.keyword' | trans }}"></div>
                {#<div class="div-location-input">{{ autoComplete|raw  }}#}
                {#{{ autoCompleteScript|raw  }}</div>#}
                <input type="submit" class="altea-button searchOffer-home" value="{{ 'form.offer.search.search' | trans }}">
            </div>
        </form>
    </div>

    <div class="about-us-container">
        <div class="container altea-container">
            <div class="altea-description fadeIn animated">
                <div style="display: -webkit-inline-box;">
                    <img class="about-us-icon" src="{{asset('images/search.svg')}}"><h3>{{ 'header.about.title'|trans }}</h3>
                </div>
                <p><b>{{ 'homepage.ourMission.1.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.1.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.2.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.2.text' |trans}}</p>
                <p><b>{{ 'homepage.ourMission.3.title' |trans}}</b></p>
                <p>{{ 'homepage.ourMission.3.text' |trans}}</p>
            </div>
        </div>
    </div>

    <style>
        .ads-list-hompeage{
            list-style-type: none;
            margin-top: 20px;
        }
        .about-us-icon{
            width: 70px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        .altea-description{
            color: white;
            margin-top: 60px;
            margin-bottom: 60px;
            text-align: center;
            max-width: 777px;
            margin-left: auto;
            margin-right: auto;
        }
        .about-us-container{
            background-color: #272f3b;
            margin-top: 40px;
        }
        .homepage-href-row{
            padding: 10px;
            padding-right: 25px;
            font-size:20px;
        }
        .homepage-href-tag{
            text-decoration: none !important;
        }




        @media screen and (max-width: 1130px) {

            .homepage-jumbotron::after{
                background-position: center center !important;
            }

        }

        .homepage-jumbotron{

            background:rgba(0,0,0,0.5) !important;
        }


        .homepage-jumbotron::after{
            content: '';
            background-image:url({{asset('images/7_web.jpg')}});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position:absolute;
            z-index: -1;
        }
    </style>

{% endblock %}




